$white: #ffffff;
$black: #000000;

$primary-color: #6338fe;
$secondary-color: #2b2b2d;

$orange: #FFA027;
$green: #9CC701;
$gray: #AAAAAA;
$blue: #579EFF;
$red: #FF2637;

$dark-white: #F0F0F0;
$header-color: #1E1E1E;