@import "./color";

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    background-color: $secondary-color;
    color: $white;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

input,
button,
textarea,
select {
    font-family: inherit;
}

button {
    border: none;
    cursor: pointer;
}

textarea {
    resize: vertical;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

