@mixin width-height($v1, $v2) {
    width: $v1;
    height: $v2;
}

@mixin display-justify-align($v1, $v2, $v3) {
    display: $v1;
    justify-content: $v2;
    align-items: $v3;
}

@mixin display-justify-align-flex($v1, $v2, $v3, $v4) {
    display: $v1;
    justify-content: $v2;
    align-items: $v3;
    flex-direction: $v4;
}