h1,
h2,
h3,
h4,
h5,
h6 {
    color: $primary-color;
}

h1 {
    font-weight: 600;
    font-size: 10rem;
    text-shadow: .8rem .8rem 0px $black;
}

h2 {
    font-weight: 600;
    font-size: 7rem;
    text-shadow: .5rem .5rem 0px $black;
    color: $green;
}

h3 {
    font-weight: 600;
    font-size: 6rem;
}

p {
    font-size: 1.6rem;
}

a {
    font-size: 2rem;
    text-decoration: none;
}